html{font-family:Arial;display:inline-block;text-align:center}
body{margin:0}
details{margin:20px 0;overflow:hidden;background-color:#50B8B4;color:white}
summary{padding:10px 0;font-size:1.4rem}
details ul{max-width:310px;margin:12px auto;text-align:left}
.content{padding:10px 20px}
.card{margin:40px 0;box-shadow:2px 2px 12px 1px rgba(140,140,140,.5);font-size:2.4rem}
.card p{margin:8px 8px 0 8px;font-size:1.2rem}
.card span{display:inline-block;padding:8px 0}
.card a{display:inline-block;padding:16px 0;text-decoration:none;color:#000}
